<a href="https://colab.research.google.com/github/diegorodrguez7/PYTHON/blob/main/practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!help

In [ ]:
man find

In [ ]:
!find / -name '*.ipynb'

In [ ]:
# comentario1

In [ ]:
"""
lectura de variable por teclado
y connversion a tipo numerico para operar
"""
num = input("Dame un numero")
print("Tu numero es", num)
print("Tu numero multiplicado por 5 es", num*5)
"""
lo convertimos a entero
"""
num = int(num)
print("Tu numero multiplicado por 5 es", num*5)

In [ ]:
type (num)

In [ ]:
num = 10//3
type (num)

In [ ]:
print (num)

In [ ]:
num = 10/3
print(num)
type(num)

In [ ]:
num = 10%3
print(num)

In [ ]:
nombre = "Diego"
print(nombre)
type(nombre)

In [ ]:
num = int(input("Dame un numero: "))
mayor = (10>num)
print(mayor)
type(mayor)

In [ ]:
if (num == 5):
  print ("Tu numero es 5")
else:
  print ("Tu numero es diferente de 5")

In [ ]:
num = int(input("Dame un numero: "))
if (num >=10 and num<=15):
  print ("numero entre 10 y 15")
elif (num >15):
  print ("Numero mayor que 15")
else:
  print ("numero menor que 10")

In [ ]:
lista = range (6)
for i in lista:
  print(i)

In [24]:
lista = range (3,6) 
print(list(lista))
print("La lista tiene",len(lista),"elementos")

[3, 4, 5]
La lista tiene 3 elementos

In [ ]:
lista=range(3,30,2)
list(lista)

In [ ]:
nombre = "Diego"
n_mayus=nombre.upper()
print(n_mayus)
print(nombre[2])
len(nombre)

In [26]:
nombres = ["Diego", "Pedro", "Juan" ,"Carmen"]
print(nombres[2])
print(type(nombres))
del nombres[2]
print(nombres)
nombres.insert(3,"Jose")
print(nombres)
print("para ver la posicion donde se encuentra un valor usamos index, Carmen se enecuentra en la posision:" ,nombres.index("Carmen"))
print(nombres)
print("par ver los elementos de la posicion 1 a la 2, pongo un 3 al final!" ,nombres[1:3])
nombres.append("Susana")
print("para ver los elementos de 2 en 2:" ,nombres[::2])
print("para ver los elementos en orden invertido uso -1:" ,nombres[::-1])
# para listar uno a uno los elementos de la lista
for i in nombres:
  print(i)

Juan
<class 'list'>
['Diego', 'Pedro', 'Carmen']
['Diego', 'Pedro', 'Carmen', 'Jose']
para ver la posicion donde se encuentra un valor usamos index, Carmen se enecuentra en la posision: 2
['Diego', 'Pedro', 'Carmen', 'Jose']
par ver los elementos de la posicion 1 a la 2, pongo un 3 al final! ['Pedro', 'Carmen']
para ver los elementos de 2 en 2: ['Diego', 'Carmen', 'Susana']
para ver los elementos en orden invertido uso -1: ['Susana', 'Jose', 'Carmen', 'Pedro', 'Diego']
Diego
Pedro
Carmen
Jose
Susana